<h1>Album <%= @album.id %> Detail</h1>

<ul>
    <li>ID: <%= @album.id %></li>
    <li>NAME: <%= @album.name %></li>
</ul>

<h2>Songs</h2>
<ul>
<% @album.songs.each do |song| %>
    <li><%= song.name %></li>
<% end %>
</ul>


<%= link_to "Delete Album", @album, method: :delete %>
    
<%= link_to "All Albums", albums_path %>

<%= link_to "Add Song", new_album_song_path(@album) %>
